/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style or utilities */
.section-title{
  color: #562EFF;
  font-size: 24px; 
  margin-top: 3px; 
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px ;
   
}
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
/* Top players style*/
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    
}
.player img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}