/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style or utilities */
.section-title{
  color: #562EFF;
  font-size: 24px; 
  margin-top: 3px; 
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px ;
    border-radius: 5px;
    margin-top: 21px;
   
}
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
/* Top players style*/
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    
}
.player img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/*--------------------------
 top blogs styles
 ---------------------- */
 .blogs{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-row-gap: 26px;
 }
.blog {
    display: flex;
}
 .thumbnail img{
    Width :177px;
    Height:117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
}
/*-------------
courses style
-------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course{
    background-color: #FFFFFF;
    box-shadow :drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.course .course-banner img{
    width:224px ;
    height: 104px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.emty{
    color: #AEAEAE;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-author{
    color: #ED6B4F;
    
}
.course-duration{
    color:  #FF4A60;
    padding: 5px;
    background-color:  #FFE4E8;
    border-radius: 14.6913px;
}
/* ----------
media query
---------- */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
      
       display: grid;
       grid-template-columns: repeat(1,1fr);
    }
    .player, .blog, .courses{
        flex-direction: column;
    }
    
}
/*---------------
tablet devices
------------*/
@media only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }    
    .players, .courses{
            grid-template-columns: repeat(2,1fr);
           }
}